site_name: Ennio dos Santos
site_url: https://enniodossantos.github.io/
theme:
  name: material
  language: pt-BR
  logo: material/database  # Ícone técnico no canto superior
  features:
    - navigation.tabs      # Cria o menu horizontal igual à referência
    - navigation.sections

palette:

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode


nav:
  - Home: index.md
  - Sobre: sobre.md
  - Habilidades: Habilidades.md
  - Projetos: Projetos.md
  - Contato: Contato.md

